<!-- this could have options for logged in users to create more cars and maintenance logs-->


<section>
  <h2>Enter A new vehicle </h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Make</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">model</label>
       <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">year</label>
       <input type="text" id="post-title" name="post-title" />
    </div>

    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if vehicle.length}}
<section>
  <h2>Your vehicles</h2>
  <ol>
    {{#each vehicle as |vehicles|}}
    <li>
  <!--    {{> vehicle-info vehicles}} when clicking here a single vehicle and it log should be viewed i will use a partial-->
      <a href="/dashboard/edit/{{vehicle.id}}" class="edit-link">My cool Cars</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script ></script>