<!-- this is a logged in users homepage displaying different vehicles and their logs ? -->
<section>
<div>
<h2>Welcome to the one and only Auto-maintenance log it's Fantastic! Everyone thinks so. </h2>
<div>
    <a href="/signup">Do yourself a favor and sign up now</a>
    <a href="/login">Awesome you're already a memeber! Go ahead and log in!</a>
</div>
</div>
</section>