<!-- this is a logged in users homepage displaying different vehicles and their logs ? -->

<section>
<div class = "welcome">
<img src = "/Images/logo.png">
<h2>Welcome to the one and only Auto Maintenance log! It's Fantastic! Everyone thinks so. </h2>
<div class = "sign">
    <h4>Interested? Sign up now!</h4> 
    <a href="/signup" class = "button" >Sign Up</a>
</div>
<br>
<div class = "login">
    <h4> Already a member? Go ahead and login!</h4>
    <a href="/login" class = "button">Login</a>
</div>
</section>
