<h1>edit Vehicle</h1>

<form class="edit-vehicle">
     <div>
    <label for="post-title">make</label>
    <input name="oil" type="text" id="make" value="{{vehicle.make}}"/>
     </div>
    <div>
  <label for="post-title">model</label>  
 <input name="tire" type="text" id="model" value="{{vehicle.model}}"/>
     </div>
    <div>
<label for="post-title">year</label>  
 <input name="spark" type="text" id="year" value="{{vehicle.year}}"/>
</div>
 <button type="submit">Save vehicle</button>
 <button type="button" class="delete">Delete vehicle</button>
</form>

<script src="/javascript/delete-vehicle.js"></script>
<script src="/javascript/edit-vehicle.js"></script>